[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "qwen-finetune"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "unsloth>=2025.12.8",
    "unsloth-zoo>=2025.12.6",
    "mlflow>=2.9.2",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]
