[project]
name = "qwen-finetune"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "unsloth>=2025.12.8",
    "unsloth-zoo>=2025.12.6",
]
